/*********************************************
 * GLOBAL STYLES
 *********************************************/
/* 指定預設字型 相對位置 */

* {
  font-family: monospace, 微軟正黑體;
}


/* 不同瀏覽器有不同的預設值，歸零 */

html,
body {
  width: 100%;
  height: 80%;
  padding: 0px;
  margin: 0px;
}
/* 指定背景顏色 相對位置 */
body {
  background-color: #dda15e;
  position:relative;
  
  background:
    linear-gradient(0deg, rgba(64, 93, 230, 1), transparent 75%),
    linear-gradient(120deg, rgba(225, 48, 108, 1), transparent),
    linear-gradient(240deg, rgb(252, 175, 69, 1), transparent);
    background-size: 100% 100%;
    animation: gradient 0.5s ease-in-out infinite;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
      background-position: 50% 50%;
      background-size: 100% 100%;
    }

    25% {
      background-position: 0% 0%;
      background-size: 200% 200%;
    }

    50% {
      background-position: 0% 50%;
      background-size: 200% 200%;
    }

    75% {
      background-position: 100% 0%;
      background-size: 200% 200%;
    }

    100% {
      background-position: 50% 50%;
      background-size: 100% 100%;
    }
}

/*********************************************
 * GLOBAL STYLES
 *********************************************/

.namecard {
  width: 700px;
  height: 340px;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  background-color: #fefae0;
  letter-spacing: 1px;
  color: #666;
  transition-duration: 1s;
  border-radius: 15px;
  overflow: hidden;
}

img {
  position: absolute;
  width: 150px;
  height: 150px;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 8px 25%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.right {
  position: absolute;
  margin-left: 180px;
}

.namecard h2 {
  font-size: 28px;
  letter-spacing: 8px;
}

.namecard h2 span {
  padding: 10px;
  font-size: 16px;
  letter-spacing: 5px;
}

.namecard h5 {
  font-size: 20px;
  letter-spacing: 4px;
}

.namecard p {
  font-size: 15px;
  font-weight: 300;
  color: #bc6c25;
  line-height: 22px
}

.circle{
  width:100px;height:100px;
  border-radius:100%;
  position:absolute;
  transition-duration: 0.5s;
  overflow: hidden;
}

.circle1{
  width: 80px; height: 80px;
  right: -30px;
  top: -30px;
  border: solid 6px #fcaf45;
  overflow: hidden;
}

.circle2{
  width: 40px; height: 40px;
  right: 80px;
  top: 65px;
  background-color: #fcaf45;
  overflow: hidden;
}


.page_title {
  text-align: center;
  font-size: 28px;
  color: #fefae0;
  font-weight: bold;
  letter-spacing: 5px;
}

/* 動畫 */

.namecard:hover {
  transform: translateY(0px) translateX(-40px);
  box-shadow: 10px 10px 30px rgba(50, 50, 50, 0.3);
  background-color: #fefae0;
  color: #22222;

}

.namecard:hover .circle1 {
  transform-origin: 30% 30%;
  transform: scale(2);
  transition-duration: 2s;
  overflow: hidden;
}

.namecard:hover .circle2 {
  transform-origin: 50% 50%;
  transform: scale(0.0);
  transition-duration: 1s;
  right: 20px;
  top: 20px;

}
